root = true

[*.cs]
dotnet_analyzer_diagnostic.category-Maintainability.severity = error
dotnet_analyzer_diagnostic.category-Naming.severity = error
# Disabling this until we've got some proper rules defined around c# standards
dotnet_analyzer_diagnostic.category-Style.severity = none
dotnet_diagnostic.CA2007.severity = none
dotnet_diagnostic.CA1303.severity = none
dotnet_diagnostic.CA1016.severity = none

[*{Controller,Tests}.cs]
dotnet_diagnostic.CA1515.severity = none

# Suppresses CS8618 in the context of a dbcontext
[*DbContext.cs] 
dotnet_diagnostic.CS8618.severity = none

