name: Execute UI tests

env:
  frontend-directory: ./frontend/fingertips-frontend
  NEXT_TELEMETRY_DISABLED: true
  NODE_VERSION: 22.x

on:
  workflow_call:

jobs:
  execute-ui-tests:
    name: Execute ui tests
    runs-on: self-hosted

    defaults:
      run:
        working-directory: ${{ env.frontend-directory }}

    env:
      PLAYWRIGHT_BROWSERS_PATH: /usr/local/ms-playwright

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'npm'
          cache-dependency-path: ${{ env.frontend-directory }}/package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Run Playwright ui tests
        run: npm run test-ui-local-mocks

      - name: Upload playwright report and screenshot if ui tests fail - always on failure
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: playwright-failure-artefacts
          path: |
            ${{ env.frontend-directory }}/playwright-report/
            ${{ env.frontend-directory }}/test-results/*/*.png
          retention-days: 5
